.container {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

.card {
    max-width: 300px;
    max-height: 200px;
    position: relative;
}

.card img {
    max-width: 100%;
    min-width: 100%;
    height: 100%;
    object-fit: cover; /* or contain, based on your preference */
}

.myWork {
    position: absolute; 
    top: 65px; 
    left: 10px; 
    z-index: 1; 
    color: white; 
    background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 1075px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    header {
        margin-bottom: 30px;
    }
}